// PIPELINE CONFIGURATION =====================================================

// Pipeline Information ------------------------------------------------------- 

manifest {
  author      = 'Carl Beuchel'
  name        = 'nf-dbSNP'
  description = 'Download and process the latest dbSNP release'
  homePage    = 'https://github.com/comp-med/nf-dbsnp'
}

// Default workflow parameters ------------------------------------------------

params {
  help    = false
  version = '0.0.1'
  outDir  = './output/'
}

// Make conda environments available
conda.enabled = true
conda.useMicromamba = true

// Resume pipeline from last successful process
resume = true

// Input Parameters -----------------------------------------------------------
params {
  r_lib = '/home/carl/Documents/03_R'
  // TODO: change to grch37_p13 (with an underscore)
  input   = ['grch37_p13', 'grch38_p14']
  chromosomes = ["chr1", "chr2", "chr3", "chr4", "chr5", "chr6", "chr7", 
                 "chr8", "chr9", "chr10", "chr11", "chr12", "chr13", 
                 "chr14", "chr15", "chr16", "chr17", "chr18", "chr19",
                 "chr20", "chr21", "chr22", "chrX", "chrY"
                ]
}

// Logging & Extras -----------------------------------------------------------

// Produce a workflow diagram  
// More info: https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
  enabled   = true
  overwrite = true
  file      = 'runInfo/dag.svg'
}

// Output resource and runtime reports for a workflow run
report {
  enabled   = true
  overwrite = true
  file      = 'runInfo/report.html'
}

timeline {
  enabled   = true
  overwrite = true
  file      = 'runInfo/timeline.html'
}

trace {
  enabled   = true
  overwrite = true
  file      = 'runInfo/trace.txt'
}

// Profiles -------------------------------------------------------------------

// Enable various profiles depending on compute infrastructure to be run on
// More info: https://www.nextflow.io/docs/latest/config.html#config-profiles
profiles {
  cluster { includeConfig "config/cluster.config" }
  test    { includeConfig "config/test.config" }
}
